/* Style your widget here */
.grid {
    position: absolute;
    right: 5px;
    bottom: calc(50% - 31px - 15px);
    box-shadow: 0 0 20px #9ecaed;
    border-radius: 50%;
}

.house {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 29px - 15px);
    box-shadow: 0 0 20px #9ecaed;
    border-radius: 50%;
}

.battery {
    position: absolute;
    bottom: calc(50% - 31px - 15px);
    left: 5px;
    box-shadow: 0 0 20px #9ecaed;
    border-radius: 50%;
}

.photovoltaics {
    position: absolute;
    top: 5px;
    left: calc(50% - 29px - 15px);
    box-shadow: 0 0 20px #9ecaed;
    border-radius: 50%;
}

.photovoltaics-line {
    border-left: 3px dashed purple;
    height: calc(50% - 62px - 30px - 10px - 5px);
    position: absolute;
    box-shadow: 0 0 20px purple;
    left: 50%;
    margin-left: -3px;
    top: 5px;
    margin-top: calc(62px + 30px + 10px);
}

.house-line {
    border-left: 3px dashed red;
    height: calc(50% - 62px - 30px - 10px - 5px);
    box-shadow: 0 0 20px red;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50%;
}

.battery-line {
    border-bottom: 3px dashed forestgreen;
    width: calc(50% - 62px - 30px - 10px - 5px);
    height: 0;
    bottom: 50%;
    left: calc(62px + 30px + 10px);
    position: absolute;
    box-shadow: 0 0 20px forestgreen;
    margin-bottom: -3px;
    margin-top: 50%;
}

.grid-line {
    border-bottom: 3px dashed orange;
    width: calc(50% - 62px - 30px - 10px - 5px);
    box-shadow: 0 0 20px orange;
    height: 0;
    left: 50%;
    bottom: 50%;
    position: absolute;
    margin-bottom: -3px;
    margin-top: 50%;
}

.img {
    border: 0;
    width: 58px;
    height: 62px;
    padding: 15px;
}

#soc {
    position: absolute;
    bottom: calc(50% - 31px - 15px);
    left: calc(29px + 15px - 25px + 5px);
    width: 50px;
    height: 15px;
    text-align: center;
}

.value {
    color: black;
}