/* Style your widget here */
.grid {
    position: absolute;
    right: 5px;
    bottom: calc(50% - 31px - 26px);
    box-shadow: 0 0 20px orange;
    border-radius: 50%;
}

.house {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 29px - 26px);
    box-shadow: 0 0 20px red;
    border-radius: 50%;
}

.battery {
    position: absolute;
    bottom: calc(50% - 31px - 26px);
    left: 5px;
    box-shadow: 0 0 20px forestgreen;
    border-radius: 50%;
}

.photovoltaics {
    position: absolute;
    top: 5px;
    left: calc(50% - 29px - 26px);
    box-shadow: 0 0 20px purple;
    border-radius: 50%;
}

.photovoltaics-line {
    height: calc(50% - 62px - 52px - 10px - 5px);
    box-shadow: 0 0 20px purple;
    width: 4px;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-top: calc(62px + 52px + 10px);
}

.photovoltaics-line-svg {
    stroke: purple;
    animation: dash 10s reverse linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 50;
    }
}

.house-line {
    height: calc(50% - 62px - 52px - 10px - 5px);
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 20px red;
    width: 4px;
}

.house-line-svg {
    stroke: red;
    animation: dash 10s reverse linear infinite;
}

.battery-line {
    width: calc(50% - 62px - 52px - 10px - 5px);
    height: 4px;
    box-shadow: 0 0 20px forestgreen;
    bottom: 50%;
    left: calc(62px + 52px + 10px);
    position: absolute;
    margin-top: 50%;
}

.battery-line-svg {
    stroke: forestgreen;
}

.grid-line {
    width: calc(50% - 62px - 52px - 10px - 5px);
    height: 4px;
    box-shadow: 0 0 20px orange;
    left: 50%;
    bottom: 50%;
    position: absolute;
    margin-top: 50%;
}

.grid-line-svg {
    stroke: orange;
}

.line-svg {
    stroke-dasharray: 6px;
    stroke-width: 8px;
}

.img {
    border: 0;
    width: 58px;
    height: 62px;
    padding: 26px;
}

#soc {
    position: absolute;
    bottom: calc(50% - 31px + 15px + 5px);
    left: calc(29px + 26px - 25px + 5px);
    width: 50px;
    height: 15px;
    text-align: center;
}

#pac {
    position: absolute;
    bottom: calc(50% - 31px);
    left: calc(29px + 26px - 25px + 5px);
    width: 50px;
    height: 15px;
    text-align: center;
}

#consumption {
    position: absolute;
    bottom: calc(5px + 26px);
    left: calc(50% - 25px);
    width: 50px;
    height: 15px;
    text-align: center;
}

#production {
    position: absolute;
    top: calc(62px + 5px + 13px);
    left: calc(50% - 25px);
    width: 50px;
    height: 15px;
    text-align: center;
}

#grid {
    position: absolute;
    bottom: calc(50% - 31px);
    left: calc(100% - 50px - 26px - 5px);
    width: 50px;
    height: 15px;
    text-align: center;
}

.value {
    color: black;
    font-weight: bold;
    font-size: small;
}